<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>A propos</title>

    <!-- page files -->
    <link rel="stylesheet" href="/static/css/about.css">

    <!-- nav -->
    <link rel="stylesheet" href="/static/nav/nav.css">
    <script src="/static/nav/nav.js"></script>
    <!-- footer -->
    <link rel="stylesheet" href="/static/footer/footer.css">
</head>
<body>

    <!-- Nav -->
    <nav>
        <a id="nav_marque" href="/home.html">
            <p style="margin: 0;">Makeup</p>
            <p style="margin: 0; font-size: 1rem;">By YAM</p>
        </a>
        
        <button id="nav_button">
            <img src="/static/nav/menu.png" alt="menu">
        </button>

        <div id="nav_add">
            <a id="nav_home" class="nav_el" href="/home.html">Accueil</a>
            <a class="nav_el" href="/templates/services.html">Services</a>
            <a class="nav_el" href="/templates/contact.html">Contact</a>
            <a class="nav_el" href="/templates/about.html">A propos</a>
        </div>

        <div id="nav-social">
            <div class="nav-separator" style="margin-left: 0px;"></div>
            <img src="/static/img/facebook.png" alt=""
            onclick='window.location.href = "https://www.facebook.com"'>
            <div class="nav-separator"></div>
            <img src="/static/img/instagram.png" alt=""
            onclick="window.location.href = 'https://www.instagram.com'">
            <div class="nav-separator" style="margin-right: 0px;"></div>
        </div>
    </nav>

    <!-- content -->
    <main>
        <div id="content">
            <div id="profil">
                <div class="title">
                    <h1>Qui suis-je ?</h1>
                </div>
                <div id="info">
                    <div id="info-image">
                        <img src="/static/img/yam.jpg" alt="">
                    </div>
                    <div id="info-text">
                        <h2>Yamina</h2>
                        <p>
                            Je m'appelle Yamina. Je suis passionnée par l'art du maquillage
                            et l'impact positif qu'il peut avoir sur la confiance en soi et l'estime de soi.
                        </p>
                        <p>
                            Cela me permet de transformer des visages et de créer des looks uniques
                            pour différentes occasions.
                        </p>
                        <p>
                            J'aime simplement mettre en valeur la beauté naturelle
                            des gens tout en soulignant leurs caractéristiques individuelles.
                        </p>
                        <q>
                            La meilleure chose à propos de mon travail, ce sont les gens et les aider
                            à se sentir mieux avec eux-mêmes. Rien n'est meilleur que lorsque qu'une femme
                            se lève de la chaise et s'en va satisfaite.
                        </q>
                        <cite> ~ Yamina ~</cite>
                    </div>
                </div>
            </div>
            <div id="pourquoi">
                <div class="title">
                    <h1>Pourquoi moi ?</h1>
                </div>
                <div id="cause">
                    <div id="cause-text">
                        <p>La beauté est bien plus que les vêtements que nous portons ou le maquillage que nous
                            appliquons. C'est la personnalité individuelle de chaque personne, la manière dont
                            nous nous exprimons et ce qui nous rend uniques.
                        </p>
                        <p>
                            Il n'y a pas une seule définition de la beauté, et donc il ne devrait pas y avoir
                            un seul style de maquillage qui convienne à tous.
                        </p>
                        <p>
                            Chaque maquillage que je réalise est évalué en fonction de plusieurs facteurs,
                            dont la personnalité, le niveau de confort avec le maquillage et l'image personnelle,
                            et j'adapte mon travail en conséquence.
                        </p>
                        <p>
                            Le résultat est un client satisfait qui se sent aussi beau à l'extérieur qu'à l'intérieur.
                        </p>
                    </div>

                    <div id="cause-image">
                        <img src="/static/img/outils_maquillage.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <!-- details -->
        <div id="footer_details">
            <!-- follow me -->
            <div id="footer-follow">
                <div class="footer-title">
                    <p id="footer-follow_me">FOLLOW US</p>
                </div>
                <div id="footer-social">
                    <div class="footer-separator"></div>
                    <img src="/static/img/facebook.png" alt=""
                    onclick='window.location.href = "https://www.facebook.com"'>
                    <div class="footer-separator"></div>
                    <img src="/static/img/instagram.png" alt=""
                    onclick="window.location.href = 'https://www.instagram.com'">
                    <div class="footer-separator"></div>
                </div>
                <p id="footer-miss_news">TO NOT MISS ANY NEWS!</p>
            </div>
            <div class="footer-divider"></div>
            <!-- customer service -->
            <div id="footer-customer">
                <div class="footer-title">
                    <p id="footer-custom_serv">CUSTOMER SERVICE</p>
                </div>
                <p><a href="">FAQ</a></p>
                <p><a href="/templates/contact.html">CONTACT US</a></p>
                <p><a href="/templates/rdv.html">PRENDRE RDV</a></p>
            </div>
            <div class="footer-divider"></div>
            <!-- contact -->
            <div id="footer-contact">
                <div class="footer-title">
                    <p id="footer-contact_now">CONTACTS</p>
                </div>
                <p>info@MakeupByYam.com</p>
                <p>0779 39 95 26</p>
            </div>
        </div>
        <!-- copy right -->
        <div id="footer-copyright">
            <p>&copy; 2023 Copyright - www.MakeupByYam.com</p>
        </div>
    </footer>

</body>
</html>