<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Contact</title>

    <!-- page files -->
    <link rel="stylesheet" href="/static/css/services.css">
    <!-- <script src="/static/js/services.js"></script> -->

    <!-- nav -->
    <link rel="stylesheet" href="/static/nav/nav.css">
    <script src="/static/nav/nav.js"></script>
    <!-- footer -->
    <link rel="stylesheet" href="/static/footer/footer.css">
</head>
<body>

    <!-- Nav -->
    <nav>
        <a id="nav_marque" href="/home.html">
            <p style="margin: 0;">Makeup</p>
            <p style="margin: 0; font-size: 1rem;">By YAM</p>
        </a>
        
        <button id="nav_button">
            <img src="/static/nav/menu.png" alt="menu">
        </button>

        <div id="nav_add">
            <a id="nav_home" class="nav_el" href="/home.html">Accueil</a>
            <a class="nav_el" href="/templates/services.html">Services</a>
            <a class="nav_el" href="/templates/contact.html">Contact</a>
            <a class="nav_el" href="">A propos</a>
        </div>

        <div id="nav-social">
            <div class="nav-separator" style="margin-left: 0px;"></div>
            <img src="/static/img/facebook.png" alt=""
            onclick='window.location.href = "https://www.facebook.com"'>
            <div class="nav-separator"></div>
            <img src="/static/img/instagram.png" alt=""
            onclick="window.location.href = 'https://www.instagram.com'">
            <div class="nav-separator" style="margin-right: 0px;"></div>
        </div>
    </nav>

    <!-- content -->
    <main>
        <div id="content">
            <header>
                <div id="header-bg">
                    <img src="/static/img/header_services.jpg" alt="">
                </div>
                <div id="header-text">
                    <h1>En effet, La mode se démode.</h1>
                    <h1>Le style ? <span>Jamais</span>.</h1>
                    <p id="coco-channel">~ Coco Channel ~</p>
                </div>       
            </header>

            <div id="services">
                <div class="service">
                    <div class="header-title ml-auto pl-50">
                        <h1>MAQUILLAGE</h1>
                    </div>
                    <div class="header-info">
                        <div class="service-img pr-50">
                            <img src="/static/img/bg-home-3.jpg" alt="">
                        </div>
                        <div class="service-text pl-50">
                            <p>
                                Bridal makeup needs to tick off certain boxes: it has to last all day, complement your outfit, photograph well and look great in real life. This is where I come in with my experience, expertise and product knowledge. Using my excellent technical skills, I create looks that meet all those criteria.
                            </p>
                            <p>
                                My aim is to ensure that my clients look their best and their makeup is flawless. Your input and opinion are vital in achieving this. I love being creative with makeup, trying something out of the box. The looks I create for my brides are timeless, modern and chic but most importantly they reflect their personality and style.
                            </p>
    
                            <p>
                                The ultimate target is for you to feel confident and comfortable on your wedding day and that your best features are expectedly defined and enhanced.
                            </p>
                            <p>
                                Let me inspire you with bridal looks I created for some of my clients and take you to the world of wedding editorials where everything is possible.
                            </p>
                            <p>
                                If you are ready – please get in touch to book your online consultation or contact me for more details.
                            </p>
                            <p>
                                And here you can find out what to expect from the trial.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="service beige">
                    <div class="header-title mr-auto pr-50">
                        <h1>FORMATION MAKEUP</h1>
                    </div>
                    <div class="header-info header-info-reversed">
                        <div class="service-text pr-50">
                            <p>
                                Comprehensive and designed for each client individually, makeup lessons are a great way to refresh your makeup routine and learn a few new tricks. The lessons will help you to create looks you have always dreamt of.
                            </p>
                            <p>
                                It might be that you have just started your adventure with makeup or have been applying makeup since you were 15 – whatever your experience level is, the lesson will be tailored to your skill set and needs.
                            </p>
    
                            <p>
                                The makeup lesson will cover topics such as (but not limited to): <br>
                                -How to apply the foundation <br>
                                -A guide to a quick morning routine <br>
                                -How to create rock star’s worthy smoky eye <br>
                                -Over 40 and fabulous
                            </p>
                            <p>
                                But there is no limit to what we can cover, I am open to your suggestions!
                            </p>
                            <p>
                                The makeup lesson can take place in my home studio or in the location of your choice. There is also a virtual makeup lesson option that has been proven to work very well – please check some recent reviews here.
                            </p>
                            <p>
                                I offer unique, clean beauty makeup consultation, where I introduce you to ethical, indie organic brands as an alternative to the mainstream brands. I have been tirelessly testing the products I recommend, in my professional kit, as well as in my personal use. I am extremely passionate about these products and ingredients used in their production. I can guarantee great effects and benefits for your skin. Not to mention that most brands I use are sustainable, with eco friendly packaging and great ethos behind them. Is there anything else you could ask for from a brand?
                            </p>

                            <p>
                                So, why don’t you have a look at the options available and I hope to see you soon!
                            </p>
                        </div>
                        <div class="service-img pl-50">
                            <img src="/static/img/bg-home-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <!-- details -->
        <div id="footer_details">
            <!-- follow me -->
            <div id="footer-follow">
                <div class="footer-title">
                    <p id="footer-follow_me">FOLLOW US</p>
                </div>
                <div id="footer-social">
                    <div class="footer-separator"></div>
                    <img src="/static/img/facebook.png" alt=""
                    onclick='window.location.href = "https://www.facebook.com"'>
                    <div class="footer-separator"></div>
                    <img src="/static/img/instagram.png" alt=""
                    onclick="window.location.href = 'https://www.instagram.com'">
                    <div class="footer-separator"></div>
                </div>
                <p id="footer-miss_news">TO NOT MISS ANY NEWS!</p>
            </div>
            <div class="footer-divider"></div>
            <!-- customer service -->
            <div id="footer-customer">
                <div class="footer-title">
                    <p id="footer-custom_serv">CUSTOMER SERVICE</p>
                </div>
                <p><a href="">FAQ</a></p>
                <p><a href="/templates/contact.html">CONTACT US</a></p>
                <p><a href="/templates/rdv.html">PRENDRE RDV</a></p>
            </div>
            <div class="footer-divider"></div>
            <!-- contact -->
            <div id="footer-contact">
                <div class="footer-title">
                    <p id="footer-contact_now">CONTACTS</p>
                </div>
                <p>info@MakeupByYam.com</p>
                <p>0779 39 95 26</p>
            </div>
        </div>
        <!-- copy right -->
        <div id="footer-copyright">
            <p>&copy; 2023 Copyright - www.MakeupByYam.com</p>
        </div>
    </footer>

</body>
</html>